@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: rgba(26, 11, 46, 1);
    color: white;
}
/* navbar design */
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    max-width: 1200px;
    margin: 20px auto;
}

nav>h2{
    width: 219px;
    height: 32px;
    padding-top: 3px;
    padding-left: 120px;
}
.linear{
    background: linear-gradient(90deg, #ff4ecd, #6c63ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav>div{
    display: flex;
    gap: 32px;
    align-items: center;
}
nav .subscribe-btn{
    width: 120px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    font-size: 16px;
    font-weight: 600;
    padding-top: 6px;
    text-align: center;
    margin-right: 120px;
}
.hamburger{
    margin-right: 10px;
    padding-top: 10px;
    display: none;
}
/* banner section */
.hero-banner{
    border: 2px solid red; 
    width: 100%;
}

/* about feature section */
.about-feature{
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* border: 2px solid green; */
    width: 1200px;
    padding: 50px 200px 120px 200px;



}
.feature-content{
     justify-content: center;
     text-align: center;  
}
.feature-rating{  
    display: flex;
    justify-content: space-between;   
}

/* card section */
.card-container{
    max-width: 1200px;
    background-color: rgba(174, 115, 216, 0.112);
}
.card-info{
    max-width: 70%;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    margin: 0 auto;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px 20px 20px;
}
.box-1, .box-2, .box-3, .box-4, .box-5{
    display: grid;
    padding-left: 8px;
    background-color: rgba(174, 115, 216, 0.227);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}
/* features section */
.features{
    width: 1200px;
    
}
.episode{
    width: 70%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 80px;   
}
/* host section */
.host{
    width: 70%;
    display: flex;
    margin: 0 auto;
    gap: 30px;
    margin-top: 50px;
    background-color: rgba(174, 115, 216, 0.227);
    border-radius: 20px;
}

.footer{
    margin-top: 60px;
    margin-bottom: 30px;
    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    background-color: rgba(174, 115, 216, 0.13);
    
}
.footer-content {   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 48px;
    margin-bottom: 20px;
}
.logo span {
    background: linear-gradient(90deg, #ff4ecd, #6c63ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-img {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.logo-img a {
    color: rgb(155, 152, 152);
    text-decoration: none;
    font-size: 17px;
}
.copyright {
    font-size: 11px;
    color: rgb(155, 152, 152);
}












/* responsive styles */
@media screen and (max-width:576px) {
 .menu-container,
 .subscribe-btn{
 display: none;
 }
 .hamburger{
    margin-right: 10px;
    padding-top: 10px;
    display: inline;
}
.about-feature{
    display: flex;
    flex-direction: column;
    gap: 80px;
    border: 2px solid green;
    width: 100%;
    
}
.feature-content{
     justify-content: center;
     text-align: center;
}
.feature-rating{  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-left: -60px; 
    
}

.card-info{
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    justify-content: center;
    gap: 50px;
}
.logo-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}



}
